<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div class="holder">
      {{!-- <div class="heading__box">
        <h1 class="heading__primary">{{title}}</h1>
      </div> --}}
      <div class="main__box">
        <div class="main__content">{{{body}}}</div>
      </div>
    </div>
  </body>

</html>